@using ChessVariantsTraining.Models
@model Tuple<List<Puzzle>, Dictionary<int, User>>
@section Title{Review submitted puzzles}
@Model.Item1.Count puzzles in review.
<table class="full-width align-left three-columns">
    <thead>
        <tr>
            <th>ID</th>
            <th>Author</th>
            <th>Review</th>
        </tr>
    </thead>
    <tbody>
        @foreach (Puzzle p in Model.Item1)
        {
            <tr>
                <td>@p.ID</td>
                <td>@Html.ActionLink(Model.Item2[p.Author].Username, "Profile", "User", new { id = p.Author }, null)</td>
                <td>@Html.ActionLink("Review", "TrainId", "Puzzle", new { id = p.ID }, null)</td>
            </tr>
        }
    </tbody>
</table>
