@model System.Collections.Generic.List<AtomicChessPuzzles.Models.Puzzle>
@section Title{Review submitted puzzles}
@Model.Count puzzles in review.
<table>
    <thead>
        <th>ID</th>
        <th>Author</th>
        <th>Review</th>
    </thead>
    <tbody>
    @foreach (AtomicChessPuzzles.Models.Puzzle p in Model)
    {
        <tr>
            <td>@p.ID</td>
            <td>@p.Author</td>
            <td>@Html.ActionLink("Review", "TrainId", "Puzzle", new { id = p.ID }, null)</td>
        </tr>
    }
    </tbody>
</table>




