@model System.Collections.Generic.List<ChessVariantsTraining.Models.Puzzle>
@section Title{Review submitted puzzles}
@Model.Count puzzles in review.
<table class="full-width align-left">
    <thead>
        <tr>
            <th>ID</th>
            <th>Author</th>
            <th>Review</th>
        </tr>
    </thead>
    <tbody>
        @foreach (ChessVariantsTraining.Models.Puzzle p in Model)
        {
            <tr>
                <td>@p.ID</td>
                <td>@p.Author</td>
                <td>@Html.ActionLink("Review", "TrainId", "Puzzle", new { id = p.ID }, null)</td>
            </tr>
        }
    </tbody>
</table>
