.vs/
artifacts/
*.xproj.user
src/AtomicChessPuzzles/wwwroot/scripts/chessground.min.js
src/AtomicChessPuzzles/wwwroot/styles/chessground-base.css
src/AtomicChessPuzzles/wwwroot/images/pieces/cburnett/
data/
deps/
project.lock.json
Chart.bundle.min.js
