body {
    font-family: 'Roboto', sans-serif;
}

div#bodycontainer {
    width: 70%;
    max-width: 1100px;
    margin: auto;
    padding-left: 15px;
    padding-top: 15px;
}

.nodisplay {
    display: none;
}

a {
    text-decoration: none;
}

    a:hover {
        color: red;
    }

.full-width {
    width: 100%;
}

    table.three-columns.full-width td, table.three-columns.full-width th {
        width: 33%;
    }

table.align-left th {
    text-align: left;
}

.error {
    color: red;
}

.ws-pre-line {
    white-space: pre-line;
}

.start-link {
    color: blue;
    cursor: pointer;
}

    .start-link:hover {
        color: red;
    }

.unread-notifications {
    background-color: red;
}

