body {
    font-family: 'Roboto', sans-serif;
}

#bodycontainer {
    width: 70%;
    max-width: 1100px;
    margin: auto;
    padding-left: 15px;
    padding-top: 15px;
}

.nodisplay {
    display: none;
}

a {
    text-decoration: none;
}

    a:hover {
        color: red;
    }

.full-width {
    width: 100%;
}

table.three-columns.full-width td, table.three-columns.full-width th {
    width: 33%;
}

table.five-columns.full-width td, table.five-columns.full-width th {
    width: 20%;
}

table.align-left th {
    text-align: left;
}

.error {
    color: red;
}

.ws-pre-line {
    white-space: pre-line;
}

.start-link {
    color: blue;
    cursor: pointer;
}

    .start-link:hover {
        color: red;
    }

.unread-notifications {
    background-color: red;
}

#error-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 15px;
    font-size: 1.5em;
    background-color: darkred;
    color: white;
    z-index: 4;
    text-align: center;
    cursor: pointer;
}

#error-overlay-close {
    font-size: 0.5em;
}

.clocks {
    font-size: 40px;
    color: #4d4d4d;
}

.turn {
    background-color: #d0e0bd;
}

.low-time {
    background-color: indianred;
}
