div.selectable, div.pocket-piece {
    display: inline-block;
    width: 45px;
    height: 45px;
    margin: 5px;
}

div.pocket-piece.unavailable {
    opacity: 0.3;
}

div.selected {
    background-color: aquamarine;
}

.hidden {
    display: none;
}

.center-cells > td {
    text-align: center;
}

.pocket-table {
    margin-top: 15px;
    margin-bottom: 15px;
    background-color: #ccc;
}

.draggable {
    cursor: pointer;
}

span[data-counter-for] {
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
}