#topbar-menu {
    width: 70%;
    max-width: 1100px;
    margin: auto;
    padding-top: 7px;
    padding-bottom: 7px;
    padding-left: 0;
}

    #topbar-menu > li {
        display: inline;
        position: relative;
    }

        #topbar-menu > li > a {
            font-weight: bold;
            text-decoration: none;
            color: white;
            padding: 7px;
        }

            #topbar-menu > li > a:hover {
                background-color: #803015;
            }

#topbar {
    background-color: #AA5639;
}

body {
    margin: 0;
}

li.right {
    float: right;
}

.dropdown:not(:hover) ul {
    display: none;
}

.dropdown:hover ul {
    margin-top: 7px;
    min-width: 100%;
    position: absolute;
    list-style: none;
    -webkit-box-shadow: 5px 5px 11px 0px rgba(0,0,0,0.6);
    -moz-box-shadow: 5px 5px 11px 0px rgba(0,0,0,0.6);
    box-shadow: 5px 5px 11px 0px rgba(0,0,0,0.6);
    padding: 0;
    z-index: 3;
}

.dropdown.right:hover ul {
    right: 0;
    left: auto;
}

.dropdown:not(.right):hover ul {
    left: 0;
    right: auto;
}

.dropdown > ul > li > a {
    display: block;
    background: red;
    padding: 10px;
    text-decoration: none;
    color: #AA5639;
    background-color: white;
    white-space: nowrap;
}

    .dropdown > ul > li > a:hover {
        background-color: #803015;
        color: white;
    }

