@section Title {Log in}
@{ Html.BeginForm("LoginPost", "User", FormMethod.Post); }
<input type="text" placeholder="Username" name="username">
<input type="password" name="password">
<input type="submit" value="Submit">
@{ Html.EndForm(); }
<p>Note: logins are persistent. If you are on a public computer, don't forget to log out when you leave.</p>