@section Title {Homepage}
@section Description{Chess Variants Training is a website where you can improve at chess variants.}
<h1>Chess Variants Training</h1>
<p>Welcome to Chess Variants Training! Here you can improve at chess variants. We support these variants: Antichess, Atomic chess, King of the Hill, Three-check, Horde chess and Racing Kings.</p>
<h3>@Html.ActionLink("Puzzles", "Index", "Puzzle")</h3>
<p>You can improve your tactics by doing tactics puzzles, created by the users of Chess Variants Training.</p>
<h3>@Html.ActionLink("Timed training", "Index", "TimedTraining")</h3>
<p>Improve your speed! You get a position and you have to find the winning move (or for antichess, the forced capture) as quickly as possible. How many positions can you do in one minute?</p>
<h3>@Html.ActionLink("Endgames", "Index", "Endgames")</h3>
<p>For atomic and antichess, we also have endgame training! You get a won endgame position and have to do the right moves to win it. Can you do this before the 50-move rule makes the game a draw?</p>
<h3>@Html.ActionLink("Register", "Register", "User")</h3>
<p>If you sign up for an account, your puzzle rating and timed training statistics will be stored, you can comment on puzzles and you can add puzzles yourself!</p>
<h3>Contact</h3>
<p>If you have a question, suggestion or bug report, don't hesitate to contact us and drop a line to <code>chessvariantstraining(at)gmail(dot)com</code></p>
<p>We wish you a lot of fun here on Chess Variants Training!</p>