@section Title{Privacy policy}
@section Description{Privacy policy of Chess Variants Training}
<h1>Privacy policy</h1>
<p>This document states what information Chess Variants Training collects, and how it gets used.</p>
<p>Your information will never be sold to, or shared with, third parties, unless necessary by law.</p>
<h2>User-submitted information</h2>
<p>This is the information you give when signing up and editing your profile. All information - except your email address - there is public and Chess Variants Training is not responsible for how this data is used. Your email address is only used to verify your account and contact you if necessary.</p>
<h2>Technical information</h2>
<p>Chess Variants Training stores your IP when you log in to the site, for security and moderation purposes. IP addresses from anonymous users are not stored. Your IP addresses are private and only visible to the administrators.</p>
<h2>Cookies</h2>
<p>Cookies are stored on your computer for authentication and security purposes. They are not used to track your behavior on the site.</p>
<p>If you are an anonymous user, only session cookies will be stored. These cookies will expire at the end of your session, if you close the browser window. These cookies are not used to track your behavior.</p>
<p>(For example, when playing Variant960 games as an anonymous user, we will store a session cookie. Its sole purpose is to identify "ownership" of a game and this is required to make the lobby and rematches work.)</p>
<h2>ReCAPTCHA</h2>
<p>When registering, Chess Variants Training uses Google's ReCAPTCHA service to verify that bots are not automatically registering on the site.</p>
<h2>Other</h2>
<p>If you have any questions or concerns regarding this policy, please contact us at <code>chessvariantstraining(at)gmail(dot)com</code></p>
<p>The Chess Variants Training team can change this policy at their discretion. We will notify you about significant changes.</p>