@section Title{Terms of Service}
@section Description{Terms of Service for Chess Variants Training}
<h1>Terms of Service</h1>
<h2>Acceptance of terms</h2>
<p>By using Chess Variants Training (domain "chessvariants.training" and subdomains) and/or creating an account, you agree to all the terms below.</p>
<p>The Chess Variants Training administrators reserve the right to modify these Terms of Service at their discretion. The then-current version will apply to the use of a site at a given time. We will notify you about significant changes.</p>
<p>The site is run by volunteers. An occasional downtime may occur.</p>
<p>The use of information collected by Chess Variants Training is governed by the @Html.ActionLink("Privacy Policy", "PrivacyPolicy", "Misc").</p>
<h2>User content</h2>
<p>There are two types of user content on Chess Variants Training: puzzles, and comments.</p>
<h3>Puzzles</h3>
<p>Puzzles submitted to Chess Variants Training will have to pass a review first before being shown publicly. The puzzle reviewers have the right to reject, delete, and/or edit puzzles at their discretion.</p>
<h3>Comments</h3>
<p>Comments posted to puzzles must be related to the puzzle and additionally they may not:</p>
<ul>
    <li>harass or defame a specific person, user, or group</li>
    <li>use abusive or hateful speech</li>
    <li>contain unsolicited advertisements</li>
    <li>contain self-promotion without disclosure.</li>
</ul>
<p>The Chess Variants Training moderators have the right to remove posts that violate these conditions, but are not responsible for any damage caused by user-submitted comments.</p>
<h2>User accounts</h2>
<p>The Chess Variants Training administrators reserve the right to suspend, terminate, or change the permissions level, or ban the IP addresses of any account at their discretion. You must not create multiple accounts to avoid restrictions or to perform actions that would not be possible with your original account.</p>
<p>You must not create multiple accounts to take multiple actions where a normal account can take only one action, such as upvoting or downvoting a comment.</p>
<p>You are solely responsible for any content you contribute to Chess Variants Training under your account.</p>
<p>Stealing, or breaking into other accounts is strictly forbidden.</p>
<h3>Username policy</h3>
<p>
    Usernames are public and displayed all over the site. In general, a username chosen with the intent of generating negative emotional reactions, is bad and not allowed. This includes, but is not limited to:
</p>
<ul>
    <li>Usernames with offensive/sensitive topics, e.g. race, gender, sexuality, politics</li>
    <li>Usernames that are disparaging towards others</li>
    <li>Usernames impersonating living people (impersonating means that you can reasonably be mistaken for someone you are not)</li>
    <li>Usernames advertising websites that are unrelated to chess.</li>
    <li>Usernames that are not safe for kids to read.</li>
</ul>
<p>
    Administrators will be able to use their judgement to override their rules.
</p>
<p>
    If you choose a name that doesn't follow these rules, your account will be closed, or the administrators will set a temporary username on your account and ask you to choose a new one. Repeated violation of this rule always results in an account closure.
</p>
<h2>Variant960 games</h2>
<p>You agree to not use any form of cheating when playing Variant960 games, including but not limited to chess engines.</p>
<p>Chat messages posted during a game must not:</p>
<ul>
    <li>harass or defame a specific person, user, or group</li>
    <li>use abusive or hateful speech</li>
    <li>contain unsolicited advertisements</li>
    <li>contain self-promotion without disclosure.</li>
</ul>
<h2>Account erasure</h2>
<p>
    If you wish to terminate your account, contact us at <code>chessvariantstraining at gmail dot com</code>. Also specify if you wish us to erase your data. In that case, your account can never be reopened again.
</p>
