@section Title {Report list}
@using ChessVariantsTraining.Models
@model List<Report>
<h1>Report list</h1>
<table class="full-width align-left">
    <thead>
        <tr>
            <th>Reporter</th>
            <th>Reported</th>
            <th>Reason</th>
        </tr>
    </thead>
    <tbody>
        @foreach (Report report in Model)
        {
            <tr>
                <td>@report.Reporter</td>
                <td>@report.Reported</td>
                <td>@report.Reason: @report.ReasonExplanation</td>
            </tr>
        }
    </tbody>
</table>