@section Title {Report list}
@using ChessVariantsTraining.Models
@model Tuple<List<Report>, Dictionary<int, User>>
<h1>Report list</h1>
<table class="full-width align-left three-columns">
    <thead>
        <tr>
            <th>Reporter</th>
            <th>Reported</th>
            <th>Reason</th>
        </tr>
    </thead>
    <tbody>
        @foreach (Report report in Model.Item1)
        {
            <tr>
                <td>@Model.Item2[report.Reporter].Username</td>
                <td>@report.Reported</td>
                <td>@report.Reason: @report.ReasonExplanation</td>
            </tr>
        }
    </tbody>
</table>