@{ Layout = null; }
<h2>Report puzzle</h2>
Reason:
<div>
<select id="puzzleReportReason">
    <option>Inaccurate</option>
    <option>Too many options</option>
    <option>Missing answer</option>
</select>
</div>
<div>
More information:<br>
<textarea id="puzzleReportExplanation"></textarea>
</div>
<div>
<a href="#" id="submitPuzzleReportLink">Submit report</a>
</div>

