@{
    Layout = null;
}
<div class="report-dialog">
    Reason:
    <select>
        <option>Offensive</option>
        <option>Spam</option>
        <option>Off-topic</option>
        <option>Other</option>
    </select>
    Description: <textarea></textarea>
    <a href="#">Submit report</a>
</div>