@section Title { @ViewBag.Variant puzzle tags }
@model List<string>
<h2>@ViewBag.Variant puzzle tags</h2>
<ul>
    @foreach (string tag in Model)
    {
        <li>@Html.ActionLink(tag, "ByTag", "Puzzle", new { variant = ViewBag.Variant, tag })</li>
    }
</ul>