#chat-box {
    margin-right: 15px;
    flex: 1;
    border: 1px solid #333;
    padding: 5px;
    position: relative;
}

#chat-input {
    position: absolute;
    bottom: 0;
    right: 0;
    width: 100%;
    padding: 3px 0 3px 0;
    border: 0;
    border-top: solid 1px black;
}

#chat-content {
    overflow-y: scroll;
    margin-bottom: 20px;
    max-height: 578px;
    height: calc(35vw - 50px);
}

.selected-chat {
    font-weight: bold;
    text-decoration: underline;
}