#topbar-menu {
    width: 70%;
    margin: auto;
    padding-top: 7px;
    padding-bottom: 7px;
    padding-left: 0;
}

    #topbar-menu li {
        display: inline;
    }

        #topbar-menu li a {
            font-weight: bold;
            text-decoration: none;
            color: white;
            padding: 7px;
        }

            #topbar-menu li a:hover {
                background-color: #803015;
            }

#topbar {
    background-color: #AA5639;
}

body {
    margin: 0;
}

li.right {
    float: right;
}
