@section Title{Change your password}
@if (ViewBag.Error != null)
{
    <div class="error">@ViewBag.Error</div>
}
<form action="@Url.Action("ChangePasswordPost", "User")" method="post">
    <p>Current password: <input type="password" name="currentPassword"></p>
    <p>New password: <input type="password" name="newPassword"></p>
    <p>New password (confirm): <input type="password" name="newPasswordConfirm"></p>
    <input type="submit" value="Change password">
</form>