@section Title{Password recovery}
Forgot your password? Enter the email address associated with your account here:
<form action="@Url.Action("SendPasswordReset", "User")" method="post">
    <input type="email" placeholder="Email address" name="email">
    <input type="submit" value="Send reset link">
</form>
You'll receive an email with a link to reset your password.
