@section Title {Log in}
@{ Html.BeginForm("LoginPost", "User", FormMethod.Post); }
Username or email: <input type="text" placeholder="Username or email" name="username"><br><br>
Password: <input type="password" name="password"><br><br>
<input type="submit" value="Log in">
@{ Html.EndForm(); }
@if (ViewBag.Error != null)
{
    <p class="error">@ViewBag.Error</p>
}
<p>Note: logins are persistent. If you are on a public computer, don't forget to log out when you leave.</p>
<p>Don't have an account? @Html.ActionLink("Register!", "Register", "User")</p>
<p>@Html.ActionLink("Forgot your password?", "ForgotPassword", "User")</p>