@section Title {Register}
@if (ViewBag.Error != null)
{
    @foreach (string err in ViewBag.Error)
    {
        <div class="error">@err</div>
    }
}
@{ Html.BeginForm("New", "User", FormMethod.Post); }
<input type="text" placeholder="Username" name="username">
<input type="password" name="password">
<input type="text" placeholder="Email" name="email">
<input type="submit" value="Submit">
@{ Html.EndForm(); }
