@section Title{Reset your password}
@model string
@if (ViewBag.Error != null)
{
    <div class="error">@ViewBag.Error</div>
}
<form action="@Url.Action("ResetPasswordPost", "User")" method="post">
    New password: <input type="password" name="password"><br>
    Confirmation: <input type="password" name="confirm"><br>
    <input type="hidden" name="token" value="@Model">
    <input type="submit" value="Confirm">
</form>